// color variables
$pink: #b7029f;
$white: #fff;
$black: #171717;
$black2: #2e2e2e;
$grey: #d3d3d3;
$yellow: #fce205;

// font size variables
$a: 1.1rem;
$h1: 2rem;
$h2: 1.8rem;
$h3: 1.5rem;
$h4: 1.3rem;
$h5: 1.2rem;

.flowTab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 0 2rem 0;

  .flowTabContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;

    .flowTabChild {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 25%;

      h4 {
        font-weight: 700;
        font-size: $h4;
        text-align: center;
        border-top: 3px solid $yellow;
        padding: 1rem 0 0 0;
        color: $black;
        text-align: center;
      }
      p {
        text-align: justify;
        color: $black;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .flowTab {
    .flowTabContainer {
      align-items: center;
      flex-direction: column;

      .flowTabChild {
        width: 100%;
        margin: 0 0 2rem 0;
        h4 {
          margin: 0 0 1rem 0;
          padding: 0.3rem 0 0 0;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .flowTab {
    .flowTabContainer {
      align-items: center;
      flex-direction: column;

      .flowTabChild {
        width: 100%;
        margin: 0 0 2rem 0;

        h4 {
          margin: 0 0 1rem 0;
          padding: 0.3rem 0 0 0;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}
