// color variables
$pink: #b7029f;
$white: #fff;
$black: #171717;
$black2: #2e2e2e;
$grey: #d3d3d3;
$yellow: #fce205;

// font size variables
$a: 1.1rem;
$h1: 2rem;
$h2: 1.8rem;
$h3: 1.5rem;
$h4: 1.3rem;

.partnerships {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 0 2rem 0;

  .partnershipsHeader {
    padding: 2rem 0 0 0;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(23, 23, 23);
    background: linear-gradient(
      80deg,
      rgba(23, 23, 23, 1) 21%,
      rgba(23, 23, 23, 1) 23%,
      rgba(23, 23, 23, 1) 30%,
      rgba(23, 23, 23, 1) 34%,
      rgba(23, 23, 23, 1) 36%,
      rgba(46, 46, 46, 0.9248949579831933) 49%
    );
    margin: 0 0 2rem 0;
    padding: 4rem 0 0 0;

    h1 {
      color: $white;
      font-size: $h2;
      font-weight: 500;
    }
  }

  .partnershipsContainer {
    padding: 5rem 0;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .partnershipsComingSoon {
      text-align: center;

      h2 {
        font-size: $h4;
        font-weight: 500;
        color: $black;
        margin: 0 0 1rem 0;
      }

      h3 {
        font-size: $h2;
        color: $pink;
        font-weight: 600;
        margin: 0 0 1rem 0;
      }

      p {
        color: $black2;
        font-size: $a;
        margin: 0 0 1rem 0;
      }
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .partnerships {
    .partnershipsContainer {
      padding: 2rem 0 0 0;
      width: 90%;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .partnerships {
    .partnershipsContainer {
      padding: 2rem 0 0 0;
      width: 90%;
    }
  }
}
